.login-container {
    min-height: 100vh;
    background: linear-gradient(rgba(57, 5, 5, 0.9), rgba(57, 5, 5, 0.7));
    padding-bottom: 20px;
}
  
.login-content {
    padding: 16px;
    margin-top: 60px;
}

.login-header {
    padding: 16px 0;
    text-align: center;
}