.registration-container {
  min-height: 100vh;
  background: linear-gradient(rgba(57, 5, 5, 0.9), rgba(57, 5, 5, 0.7));
  padding-bottom: 20px;
}

.registration-content {
  padding: 16px;
  margin-top: 16px;
}


.registration-header {
  padding: 16px 0;
  text-align: center;
}

.adm-card {
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
}

.adm-form-item {
  margin-bottom: 12px;
}